POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nightpaws_db
DATABASE_URL=postgresql://postgres:postgres@db:5432/nightpaws_db

SECRET_KEY=secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

REDIS_URL=redis://nightpaws-redis:6379/0

CRON_SECRET=cron_secret

CLIENT_SECRET=oauth2_client_secret
CLIENT_ID=ouath2_client_id
REDIRECT_URI=http://127.0.0.1:8000/auth/google/callback
FRONTEND_URL=http://127.0.0.1:5173
FERNET_KEY=generated_fernet_key

# constant values for downloading weights (until I change it myself)
GDRIVE_FILE_ID=1GltPURsoPSNnoD94mwhVCv7VVdKhQcm-
REMOTE_VERSION_URL=https://drive.google.com/uc?export=download&id=1tFNQ3fSplphZQBKD9guxtu5CiXZyfiFG